
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #10061B;
    font-family: 'Inter', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 10;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
}

.login-btn {
    background: linear-gradient(30deg, #c850c0, #ffcc70);
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
